parameters:


database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user:
	password:

nextras.dbal:
	host: dev_db
	username: root
	password:
	database: sandbox-nette
	driver: mysqli
	connectionTz: auto-offset
	simpleStorageTz: UTC